table {
	margin: auto;
    border-collapse: collapse;
}

.cell{
    --w: calc(100vmin / 5);
    width: var(--w);
    height: var(--w);

	font-family: monospace;
	font-size: var(--w);
	text-align: center;
	line-height: var(--w);

    border: 2px solid black;
}
.cell:first-child{
    border-left: none
}
.cell:last-child{
    border-right: none
}
tr:first-child .cell{
    border-top: none
}
tr:last-child .cell{
    border-bottom: none
}
